@import '../../../assets/sass/colors.scss';
.dropdown-menu{
background-color: rgb(24, 25, 26)!important;
}
.btn-lan{
    margin: 5px;
}
.dropdown-item{
    color: white!important;
    
}
a:hover{
background-color: #016658!important
}